/* line 1, ../style_src/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/* line 2, ../style_src/style.scss */
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 3, ../style_src/style.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 4, ../style_src/style.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231; }

/* line 5, ../style_src/style.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

/* line 6, ../style_src/style.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/* line 7, ../style_src/style.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/* line 8, ../style_src/style.scss */
a:focus {
  outline: thin dotted; }

/* line 9, ../style_src/style.scss */
a:hover, a:active {
  outline: 0; }

/* line 10, ../style_src/style.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 11, ../style_src/style.scss */
b, strong {
  font-weight: bold; }

/* line 12, ../style_src/style.scss */
dfn {
  font-style: italic; }

/* line 13, ../style_src/style.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

/* line 14, ../style_src/style.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* line 15, ../style_src/style.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 16, ../style_src/style.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 17, ../style_src/style.scss */
q {
  quotes: none; }

/* line 18, ../style_src/style.scss */
q:before, q:after {
  content: "";
  content: none; }

/* line 19, ../style_src/style.scss */
small {
  font-size: 85%; }

/* line 20, ../style_src/style.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 21, ../style_src/style.scss */
sup {
  top: -0.5em; }

/* line 22, ../style_src/style.scss */
sub {
  bottom: -0.25em; }

/* line 23, ../style_src/style.scss */
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 24, ../style_src/style.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* line 25, ../style_src/style.scss */
svg:not(:root) {
  overflow: hidden; }

/* main style sheet for all yo goodness */
/* Variables */
/* Css */
/* Sticky footer sass partial */
/* line 5, ../style_src/_stickyfooter.scss */
html, body {
  height: 100%; }

/* line 9, ../style_src/_stickyfooter.scss */
#container {
  min-height: 100%; }

/* line 13, ../style_src/_stickyfooter.scss */
#main {
  overflow: auto;
  padding-bottom: 27px; }

/* line 18, ../style_src/_stickyfooter.scss */
footer {
  position: relative;
  margin-top: -27px;
  height: 27px;
  clear: both;
  line-height: 27px; }

/* Opera Fix */
/* line 27, ../style_src/_stickyfooter.scss */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

/* Horizontally centers an object */
/* main styles */
/* line 20, ../style_src/_main.scss */
* {
  margin: 0;
  padding: 0; }

/* line 22, ../style_src/_main.scss */
body {
  color: #eee8d5;
  background: #073642;
  position: absolute;
  top: 0; }

/* line 28, ../style_src/_main.scss */
section, header {
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
  padding: 18px; }

/* line 33, ../style_src/_main.scss */
h2 {
  padding: 0 0 9px 0; }

/* line 36, ../style_src/_main.scss */
#container {
  position: relative;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  text-align: center; }
  /* line 39, ../style_src/_main.scss */
  #container a {
    color: #6c71c4; }
    /* line 41, ../style_src/_main.scss */
    #container a:hover {
      color: #d33682; }

/* line 46, ../style_src/_main.scss */
#main {
  text-align: justify; }

/* line 49, ../style_src/_main.scss */
nav {
  position: fixed;
  top: 54px;
  right: 72px;
  width: 10%;
  font-weight: bold; }

/* line 56, ../style_src/_main.scss */
footer {
  position: relative;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  padding: 0 18px;
  text-align: center;
  font-size: 12px;
  color: rgba(238, 232, 213, 0.7); }

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */
/* line 18, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none; }

/* line 32, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url("../img/fancybox/fancybox.png"); }

/* line 41, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none; }

/* line 50, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none; }

/* line 58, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1101;
  outline: none;
  display: none; }

/* line 68, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff; }

/* line 75, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-content {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0px solid #fff; }

/* line 86, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101; }

/* line 96, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: transparent url("../img/fancybox/fancybox.png") -40px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none; }

/* line 108, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0; }

/* line 115, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top; }

/* line 126, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block; }

/* line 133, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-left, #fancybox-right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  outline: none;
  background: transparent url("../img/fancybox/blank.gif");
  z-index: 1102;
  display: none; }

/* line 145, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-left {
  left: 0px; }

/* line 149, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-right {
  right: 0px; }

/* line 153, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-left-ico, #fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block; }

/* line 165, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-left-ico {
  background-image: url("../img/fancybox/fancybox.png");
  background-position: -40px -30px; }

/* line 170, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-right-ico {
  background-image: url("../img/fancybox/fancybox.png");
  background-position: -40px -60px; }

/* line 175, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-left:hover, #fancybox-right:hover {
  visibility: visible;
  /* IE6 */ }

/* line 179, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-left:hover span {
  left: 20px; }

/* line 183, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-right:hover span {
  left: auto;
  right: 20px; }

/* line 188, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001; }

/* line 198, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url("../img/fancybox/fancybox-x.png"); }

/* line 205, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url("../img/fancybox/fancybox.png");
  background-position: -40px -162px; }

/* line 212, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url("../img/fancybox/fancybox-y.png");
  background-position: -20px 0px; }

/* line 220, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url("../img/fancybox/fancybox.png");
  background-position: -40px -182px; }

/* line 227, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url("../img/fancybox/fancybox-x.png");
  background-position: 0px -20px; }

/* line 235, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url("../img/fancybox/fancybox.png");
  background-position: -40px -142px; }

/* line 242, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url("../img/fancybox/fancybox-y.png"); }

/* line 249, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url("../img/fancybox/fancybox.png");
  background-position: -40px -122px; }

/* line 256, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-title {
  font-family: Helvetica;
  font-size: 12px;
  z-index: 1102; }

/* line 262, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative; }

/* line 270, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-title-outside {
  padding-top: 10px;
  color: #fff; }

/* line 275, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: left; }

/* line 283, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-title-over {
  padding: 10px;
  background-image: url("../img/fancybox/fancy_title_over.png");
  display: block; }

/* line 289, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px; }

/* line 296, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto; }

/* line 302, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap; }

/* line 307, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: url("../img/fancybox/fancybox.png") -40px -90px no-repeat; }

/* line 312, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-title-float-main {
  color: #FFF;
  line-height: 29px;
  font-weight: bold;
  padding: 0 0 3px 0;
  background: url("../img/fancybox/fancybox-x.png") 0px -40px; }

/* line 320, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: url("../img/fancybox/fancybox.png") -55px -90px no-repeat; }

/* IE6 */
/* line 327, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie6 #fancybox-close {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_close.png', sizingMethod='scale'); }

/* line 329, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie6 #fancybox-left-ico {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_nav_left.png', sizingMethod='scale'); }

/* line 330, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie6 #fancybox-right-ico {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_nav_right.png', sizingMethod='scale'); }

/* line 332, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie6 #fancybox-title-over {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_title_over.png', sizingMethod='scale');
  zoom: 1; }

/* line 333, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie6 #fancybox-title-float-left {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_title_left.png', sizingMethod='scale'); }

/* line 334, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie6 #fancybox-title-float-main {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_title_main.png', sizingMethod='scale'); }

/* line 335, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie6 #fancybox-title-float-right {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_title_right.png', sizingMethod='scale'); }

/* line 337, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
  height: expression(this.parentNode.clientHeight + "px"); }

/* line 341, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-loading.fancybox-ie6 {
  position: absolute;
  margin-top: 0;
  top: expression((-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px'); }

/* line 346, ../style_src/jquery.fancybox-1.3.4.scss */
#fancybox-loading.fancybox-ie6 div {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */
/* line 350, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie .fancybox-bg {
  background: transparent !important; }

/* line 352, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie #fancybox-bg-n {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }

/* line 353, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie #fancybox-bg-ne {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }

/* line 354, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie #fancybox-bg-e {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }

/* line 355, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie #fancybox-bg-se {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }

/* line 356, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie #fancybox-bg-s {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }

/* line 357, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie #fancybox-bg-sw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }

/* line 358, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie #fancybox-bg-w {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }

/* line 359, ../style_src/jquery.fancybox-1.3.4.scss */
.fancybox-ie #fancybox-bg-nw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }

@media print {
  /* line 33, ../style_src/style.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 34, ../style_src/style.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  /* line 35, ../style_src/style.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 36, ../style_src/style.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 37, ../style_src/style.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  /* line 38, ../style_src/style.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 39, ../style_src/style.scss */
  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 40, ../style_src/style.scss */
  tr, img {
    page-break-inside: avoid; }

  /* line 41, ../style_src/style.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 43, ../style_src/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  /* line 44, ../style_src/style.scss */
  h2, h3 {
    page-break-after: avoid; } }
