/* main style sheet for all yo goodness */

/* Variables */
$footer_height: 18px;
$width: 60%;
$unit: 18px;

$bg: #073642;
$bg_l: #93a1a1;
$fg: #eee8d5;
$hi1: #d33682;
$hi2: #6c71c4;

/* Css */

@import "stickyfooter";
@import "hcenter";

/* main styles */
* {margin:0 ; padding:0 ;}

body {
	color: $fg;
	background: $bg;
	position: absolute;
	top: 0;
}
section, header {
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
  padding: $unit;
}
h2 {
	padding: 0 0 $unit/2 0;
}
#container {
	@include hcenter($width);
	text-align: center;
	a {
		color: $hi2;
		&:hover {
			color: $hi1;
		}
	}
}
#main {
	text-align: justify;
}
nav {
	position: fixed;
	top: $unit*3;
	right: $unit*4;
	width: 10%;
	font-weight: bold;
}
footer {
	@include hcenter($width);
	padding: 0 $unit;
	text-align: center;
	font-size: $unit*(2/3);
	color: rgba(238, 232, 213, 0.7);
}
