<div id="feature">
  <div class="gallery">
    <div class="grid_12">
      <ul>
        <li><a href="images/gallery2.png"><img src="images/gallery2.png" /></a></li>
      </ul>
    </div>
  </div>
</div>
   
<div id="footer">
    <div id="footerinner">
      <div id="left">
        <h2>StreetBuddy will help you find a really safe route home!</h2>
        <p>We know it can be unsafe at night, but StreetBuddy will help you avoid those danger spots</p>
      </div>
          
      <div id="right">
        <a href="app" id="button">Try StreetBuddy Free!</a>
      </div>
    </div>
</div>
