<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Appathon</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="/js/map.js"></script>
  <script type="text/javascript">

	var myOptions = {noClear: true}
	var map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

	var marker = new google.maps.Marker({
		position: new google.maps.LatLng(25.774252, -80.190262),
		map: map
	});
  </script>
</head>
<body>
  <div id="container">
    <header>
      <h1>Find a safe route home!</h1>
    </header>
    
    <%= yield %>
    <footer>
      <p>&copy; Copyright <a href="http://groupspaces.com/SVC2Edinburgh/item/176545">Appathon</a> team 21</p>
    </footer>
  </div>
  </body>
</html>
